<h1>News#index</h1>
<h2>
    <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
</h2>

<% if flash[:notice] %>
  <p><%= flash[:notice] %> </p>
<%end%>

<%= link_to 'Create new article', new_news_path %>

